.git
.gitignore

docker-compose.override.yml
scripts/

Dockerfile.before-*
*.tar
*.tar.gz
*.zip

data/
logs/
mediamtx/
node_modules/

src/server.js.before-*
src/server.js.*-20*
src/server.js.camera-registry-*
src/server.js.placeholder-*

src/logs/*
src/logs
npm-debug.log*
